# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/static/**/**
!/static/**/
!.gitignore
!.htaccess

# Ignore everything from semantic
# /semantic/*
/semantic/src/definitions
/semantic/src/site
/semantic/src/themes/*
/semantic/src/*.less
/semantic/tasks/*
/semantic/*.js

# But not these files...
!.gitignore
!/semantic/src/theme.config
!/semantic/src/themes/mytheme/
# etc...